/* Primary SASS File */
/*Typography*/
/*Font*/
/*Colors*/
/*Media */
/*@mixin fontSize($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}*/
/*Function for converting a px based font-size to rem.*/
/*Mixin that will include the fall back px declaration as well as the calculated rem value.*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down-arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  font-family: "Lato", Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 33.75em) {
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 60em) {
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.3333333333%;
}

.col-2-sm {
  width: 12.6666666667%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.3333333333%;
}

.col-5-sm {
  width: 37.6666666667%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.3333333333%;
}

.col-8-sm {
  width: 62.6666666667%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.3333333333%;
}

.col-11-sm {
  width: 87.6666666667%;
}

.col-12-sm {
  width: 96%;
}

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.3333333333%;
  }

  .col-2 {
    width: 12.6666666667%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.3333333333%;
  }

  .col-5 {
    width: 37.6666666667%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.3333333333%;
  }

  .col-8 {
    width: 62.6666666667%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.3333333333%;
  }

  .col-11 {
    width: 87.6666666667%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}
/*Only for testing*/
body {
  min-height: 2000px;
}

.astra-auto-header {
  left: 0;
  position: fixed;
  top: 0;
  transition: all .3s ease;
  width: 100%;
}
.astra-auto-header .__top-header {
  background-color: #008FFF;
  overflow: hidden;
  padding: 8px 10px 8px 18px;
  transition: all .3s ease;
}
.astra-auto-header .__top-header .__group-name,
.astra-auto-header .__top-header .__page-type,
.astra-auto-header .__top-header .__dealer-locator,
.astra-auto-header .__top-header .__heading {
  float: left;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
}
.astra-auto-header .__top-header .__group-name {
  color: #D8D8D8;
  margin-right: 6px;
}
.astra-auto-header .__top-header .__dealer-locator {
  float: right;
}
.astra-auto-header .__top-header .__dealer-locator .__dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0px 10px 0 8px;
  font-size: 12px;
  font-size: 0.75rem;
  color: #FFFFFF;
  background-color: #008FFF;
  border: none;
}

.fixed .astra-auto-header {
  top: -34px;
}

.main-banner {
  padding-top: 100px;
}

.footer {
  background-color: #008FFF;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer .__content .navbar-nav:first-child {
  border-top: none !important;
}
.footer .__content .navbar-nav li {
  border-bottom: 1px solid #40ACFF !important;
}
.footer .__content .navbar-nav a {
  color: #FFFFFF !important;
}
.footer .__content .navbar-nav .circle-plus .circle .horizontal,
.footer .__content .navbar-nav .circle-plus .circle .vertical {
  background-color: #FFFFFF !important;
}
.footer .__content .navbar-nav .multi-level {
  background-color: #008FFF;
}
.footer .__content .navbar-nav .multi-level li {
  color: #FFFFFF;
  border-bottom: none !important;
}
.footer .__subscribe {
  padding: 14px 30px 0 18px;
}
.footer .__subscribe .__label {
  padding-bottom: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
}
.footer .__subscribe .__subscribe-text-container {
  position: relative;
}
.footer .__subscribe .__subscribe-text-container .__text {
  border-radius: 20px;
  background-color: #008FFF;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  width: 100%;
  padding: 8px 0px 6px 20px;
}
.footer .__subscribe .__subscribe-text-container .__text::placeholder {
  color: #FFFFFF;
}
.footer .__subscribe .__subscribe-text-container button {
  background-color: #008FFF;
  border: none;
  position: absolute;
  right: 14px;
  top: 8px;
  color: #FFFFFF;
}
.footer .__subscribe .__subscribe-text-container button i {
  border: none;
  color: #FFFFFF;
}
.footer .__social {
  overflow: hidden;
  padding-top: 25px;
}
.footer .__social .__label {
  float: left;
  padding-right: 20px;
}
.footer .__social .__label label {
  color: #FFFFFF;
}
.footer .__social .__icons {
  float: left;
}
.footer .__social .__icons i {
  padding-right: 12px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  font-size: 1.125rem;
}
.footer .__copyright {
  text-align: center;
  text-transform: capitalize;
  border-top: 1px solid #40ACFF;
  padding: 20px 0;
}
.footer .__copyright label {
  font-size: 14px;
  font-size: 0.875rem;
  color: #FFFFFF;
}

.astra-navbar {
  padding: 6px 0 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.astra-navbar .__nav-container {
  width: 100%;
}
.astra-navbar .__nav-container .__logo {
  padding: 0;
  margin-left: 16px;
  float: left;
}
.astra-navbar .__nav-container .__logo img {
  background-color: black;
}
.astra-navbar .__nav-container #nav-icon3 {
  width: 22px;
  height: 45px;
  float: left;
  position: relative;
  margin-top: 18px;
  margin-left: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.astra-navbar .__nav-container #nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #131313;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.astra-navbar .__nav-container #nav-icon3 span:nth-child(1) {
  top: 0px;
}
.astra-navbar .__nav-container #nav-icon3 span:nth-child(2), .astra-navbar .__nav-container #nav-icon3 span:nth-child(3) {
  top: 6px;
}
.astra-navbar .__nav-container #nav-icon3 span:nth-child(4) {
  top: 12px;
}
.astra-navbar .__nav-container #nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.astra-navbar .__nav-container #nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.astra-navbar .__nav-container #nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.astra-navbar .__nav-container #nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.astra-navbar .__nav-container .__action {
  list-style: none;
  float: right;
  padding: 0;
  margin: 8px 14px;
}
.astra-navbar .__nav-container .__action li {
  float: left;
}
.astra-navbar .__nav-container .__action li i {
  border: none;
  margin-left: 10px;
  font-size: 22px;
  font-size: 1.375rem;
}
.astra-navbar .__content .first-level {
  display: block;
}
.astra-navbar .__content ul.navbar-nav:first-child {
  border-top: 1px solid #EEEEEE;
}
.astra-navbar .__content .__dropdown-toggle {
  display: block;
}
.astra-navbar .__content .__dropdown-toggle::after {
  display: none !important;
  content: "\f067" !important;
  font-family: "FontAwesome" !important;
  border: none !important;
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0;
  vertical-align: initial;
  float: right;
  padding-right: 20px;
}
.astra-navbar .__content .__dropdown-toggle i {
  border: none;
  float: right;
}
.astra-navbar .__content li {
  padding: 10px 16px 10px 18px;
  position: relative;
  border-bottom: 1px solid #EEEEEE;
}
.astra-navbar .__content li a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  color: #131313 !important;
  text-decoration: none;
}
.astra-navbar .dropdown-menu {
  position: relative !important;
  display: none;
  float: none;
  border: none;
}
.astra-navbar .dropdown-menu .__content {
  overflow: hidden;
}
.astra-navbar .dropdown-menu .__content .__img-container {
  width: 35%;
  float: left;
  overflow: hidden;
}
.astra-navbar .dropdown-menu .__content .__img-container img {
  width: 100%;
}
.astra-navbar .dropdown-menu .__content .__sub-menu-label {
  width: 65%;
  float: left;
  overflow: hidden;
}
.astra-navbar .dropdown-menu .__content li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  border: none;
  padding: 10px 0 10px 0;
  width: 50%;
}
.astra-navbar .dropdown-menu.multi-level {
  padding-bottom: 0;
}
.astra-navbar .dropdown-menu.multi-level .__sub-menu {
  padding: 2px 0px 6px 0px;
  border: none;
}
.astra-navbar .dropdown-menu.multi-level .__sub-menu a {
  text-transform: capitalize;
  font-weight: 400;
}
.astra-navbar .dropdown-menu.multi-level .__sub-menu a:after {
  display: none;
}
.astra-navbar .dropdown-menu.multi-level .__sub-menu .dropdown-toggle i {
  border: none;
  transition: all 0.5s linear;
}
.astra-navbar .dropdown-menu.multi-level .__sub-menu .dropdown-toggle i.chevron-rotate {
  transform: rotate(180deg);
}
.astra-navbar .closed .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.astra-navbar .closed .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}
.astra-navbar .opened {
  opacity: 1;
}
.astra-navbar .opened .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}
.astra-navbar .opened .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}
.astra-navbar .circle-plus {
  height: 4em;
  width: 4em;
  font-size: 1em;
  opacity: .7;
  position: absolute;
  top: 12px;
  right: -12px;
}
.astra-navbar .circle-plus .circle {
  position: relative;
  width: 2.55em;
  height: 2.5em;
}
.astra-navbar .circle-plus .circle .horizontal {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 2px;
  left: 71%;
  margin-left: -15px;
  top: 31%;
  margin-top: -2.5px;
}
.astra-navbar .circle-plus .circle .vertical {
  position: absolute;
  background-color: black;
  width: 2px;
  height: 12px;
  left: 45%;
  margin-left: -2.5px;
  top: 50%;
  margin-top: -15px;
}
.astra-navbar .__footer {
  list-style: none;
  padding-left: 0;
}
.astra-navbar .__footer li {
  border: none;
}

/*# sourceMappingURL=main.css.map */
