$header: "astra-auto-header";
$group-name: "__group-name";
$dealer-locator: "__dealer-locator";
$header-font-size: 12px;

body {
    height: 2000px;
}

.#{$header} {
        left: 0;
        position: fixed;
        top: 0;
        transition: all .3s ease;
        width: 100%;
    .__top-header {
        background-color: $azure-radiance-color;
        overflow: hidden;
        padding: 8px 10px 8px 18px;
        transition: all .3s ease;
        .#{$group-name},
        .__page-type,
        .#{$dealer-locator},
        .__heading {
            float: left;
            color: $white-color;
            text-transform: uppercase;
            @include fontSize($header-font-size);
        }
        .#{$group-name} {
            color: $alto-color;
            margin-right: 6px;
        }
        .#{$dealer-locator} {
            float: right;
            .__dropdown {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0px 10px 0 8px;
                @include fontSize($header-font-size);
                color: $white-color;
                background-color: $azure-radiance-color;
                border: none;
            }
        }
    }
}

.fixed {
    .#{$header} {
        top: -34px;
    }
}