$main-banner: "main-banner";

.#{$main-banner} {
    padding-top: 100px;
    height: 100vh;
    .slick-dots {
        bottom: 130px;
        li {
            button {
                &:before {
                    font-size: 14px;
                    color: 	$white-color !important;
                }
            }
        }
    }
}