/*Buttons*/

.button {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 24px;
    padding: 10px 0;
    @include fontSize(12px);
    &.primary-btn {
        background-color: $azure-radiance-color;
        color: $white-color;
    }

    &.secondary-btn {}

    &.disabled-btn {}
}













/*Text Links*/

.link-primary {}

.link-secondary {}

.link-tertiary {}










/*Heading*/

.heading {
    text-align: center;
    font-weight: 600;
    &.heading-1 {
        @include fontSize(22px);
    }

    &.heading-2 {
        text-transform: uppercase;
        @include fontSize(13px);
    }

    &.heading-3 {}

    &.heading-4 {}
}












/*Paragraphs*/

.paragraph-1 {}

.paragraph-2 {}


.banner {
    font-weight: 600;
    text-align: center;
    @include fontSize(14px);
    .heading {
        padding-bottom: 20px;
    }
    .footer-link {
        padding: 20px 0px 4px 0px;
        background: none;
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid #000;
            content: ""
        }
    }
    &.arrow {
        .slick-arrow {
            border: none;
            position: absolute;
            font-size: 18px;
            z-index: 1000000001;
            bottom: 14px;
        }
        .fa-arrow-right {
            right: 20px;
        }
        .fa-arrow-left {
            left: 20px;
        }
        .__image-container {
            img {
                height: calc(50vh - 100px);
                width: auto;
                margin: 0 auto;
            }
        }
        .content {
            p {
                font-size: 14px;
                margin-bottom: 0;
            }
            .car-title {
                font-weight: 500;
                padding-bottom: 4px;
            }
            .car-price {
                font-weight: 700;
            }
        }
    }
}
