$maintenance: "maintenance-steps";

.#{$maintenance} {
    background-color: $alabaster-color;
    padding: 30px 0px;
    overflow: hidden;
    .heading {
        padding-bottom: 10px;
    }
    .content {
        text-align: center;
        @include fontSize(13px);
        padding: 0px 30px 20px 30px;
        font-weight: 600;
    }
    .maintenance-banner {
        .content {
            padding: 0 !important;
        }
        .__image-container {
            position: relative;
            a {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                i {
                    border: none;
                    color: $white-color;
                    font-size: 32px;
                }
            }
            p {
                position: absolute;
                text-transform: uppercase;
                color: $white-color;
                font-size: 12px;
                font-weight: 700;
                margin-bottom: 0;
                transform: translate(-50%, -50%);
                bottom: 30px;
                left: 50%;
            }
        }
        .slick-slide {
            margin: 0px 10px;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            bottom: -42px;
            li {
                button {
                    &:before {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}