$astra-navbar: "astra-navbar";

.#{$astra-navbar} {
    padding: 6px 0 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    .__nav-container {
        width: 100%;
        .__logo {
            padding: 0;
            margin-left: 16px;
            float: left;
            img {
                background-color: black;
            }
        }
        #nav-icon3 {
            width: 22px;
            height: 45px;
            float: left;
            position: relative;
            margin-top: 18px;
            margin-left: 18px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $cod-gray-color;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
                &:nth-child(1) {
                    top: 0px;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    top: 6px;
                }
                &:nth-child(4) {
                    top: 12px;
                }
            }
            &.open span {
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
        .__action {
            list-style: none;
            float: right;
            padding: 0;
            margin: 8px 14px;
            li {
                float: left;
                i {
                    border: none;
                    margin-left: 10px;
                    @include fontSize(22px);
                }
                &:last-child {}
            }
        }
    }
    .__content {
        .first-level {
            display: block;
        }
        ul {
            &.navbar-nav {
                &:first-child {
                    border-top: 1px solid $gallery-color;
                }
            }
        }
        .__dropdown-toggle {
            display: block;
            &::after {
                display: none !important;
                content: "\f067" !important;
                font-family: "FontAwesome" !important;
                border: none !important;
                display: inline-block;
                width: 0;
                height: 0;
                margin: 0;
                vertical-align: initial;
                float: right;
                padding-right: 20px;
            }
            i {
                border: none;
                float: right;
            }
        }
        li {
            padding: 10px 16px 10px 18px;
            position: relative;
            border-bottom: 1px solid $gallery-color;
            a {
                text-transform: uppercase;
                font-weight: 600;
                @include fontSize(14px);
                color: $cod-gray-color !important;
                text-decoration: none;
            }
        }
    }
    .dropdown-menu {
        position: relative !important;
        display: none;
        float: none;
        border: none;
        .__content {
            overflow: hidden;
            .__img-container {
                width: 35%;
                float: left;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            .__sub-menu-label {
                width: 65%;
                float: left;
                overflow: hidden;
            }
            li {
                float: left;
                @include fontSize(14px);
                border: none;
                padding: 10px 0 10px 0;
                width: 50%;
            }
        }
        &.multi-level {
            padding-bottom: 0;
            .__sub-menu {
                padding: 2px 0px 6px 0px;
                border: none;
                a {
                    text-transform: capitalize;
                    font-weight: 400;
                    &:after {
                        display: none;
                    }
                }
                .dropdown-toggle {
                    i {
                        border: none;
                        transition: all 0.5s linear;
                        &.chevron-rotate {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
    .closed {
        .vertical {
            transition: all 0.5s ease-in-out;
            transform: rotate(-90deg);
        }
        .horizontal {
            transition: all 0.5s ease-in-out;
            transform: rotate(-90deg);
            opacity: 1;
        }
    }
    .opened {
        opacity: 1;
        .vertical {
            transition: all 0.5s ease-in-out;
            transform: rotate(90deg);
        }
        .horizontal {
            transition: all 0.5s ease-in-out;
            transform: rotate(90deg);
            opacity: 0;
        }
    }
    .circle-plus {
        height: 4em;
        width: 4em;
        font-size: 1em;
        opacity: .7;
        position: absolute;
        top: 12px;
        right: -12px;
        .circle {
            position: relative;
            width: 2.55em;
            height: 2.5em;
            .horizontal {
                position: absolute;
                background-color: black;
                width: 10px;
                height: 2px;
                left: 71%;
                margin-left: -15px;
                top: 31%;
                margin-top: -2.5px;
            }
            .vertical {
                position: absolute;
                background-color: black;
                width: 2px;
                height: 12px;
                left: 45%;
                margin-left: -2.5px;
                top: 50%;
                margin-top: -15px;
            }
        }
    }
}