$steps: "steps";

.#{$steps} {
    padding: 20px 0px 30px 0px;
    .__content {
        .content {
            padding: 0px 30px;
        }
        .slick-dots {
            bottom: -42px;
            li {
                button {
                    &:before {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}