/*Typography*/
$rubik-nomral:	'Rubik-normal';
$rubik-light:	'Rubik-light';
$rubik-medium: 	'Rubik-normal';


/*Font*/
$font-size-small:		12px;
$font-size-medium:		14px;	
$font-size-regular:		16px;
$font-size-large:		20px;
$font-size-x-large:		30px;
$font-size-xx-large:	42px;
$font-size-xxx-large:	64px;
$font-size-xxxx-large:	96px;  


/*Colors*/
$azure-radiance-color: 		#008FFF;
$endeavour-color: 			#0052A6;
$gulf-blue-color: 			#03065D;
$amarnath-color: 			#EC2256;
$black-color:				#000000;
$white-color:				#FFFFFF;
$cod-gray-color:			#131313;
$alto-color:				#D8D8D8;
$gallery-color: 			#EEEEEE;
$concrete-color:			#F2F2F2;


/*Media */
$breakpoints: (
  'small':  ( min-width:  767px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1200px )
) !default;